
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nuosu+SIL&display=swap');
 
body{
    font-family: 'Joan', serif;
    font-family: 'Nuosu SIL', serif;
    background-color: #f0fdf0 !important;
}
.contact-img{
    height: 120px;
    
}
